<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/sha256.js"></script>
<title>Insert title here</title>
</head>
<body>
<div th:if="${param.error}">        Invalid username and password.        </div>
        <div th:if="${param.logout}">   You have been logged out.        </div>
        <form th:action="@{/login}" method="post" onsubmit="hashPassword()">
            <div><label> User Name : <input type="text" name="username" value="alaa@gmail.com"/> </label></div>
            <div><label> Password: <input type="password" name="password" id="password" value="test1"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
<script>

	function hashPassword() {
		var hashx = sha256_digest($("#password").val());
		$("#password").val(hashx);
	}
</script>
</body>
</html>
